/*
Theme Intimacy styling entrance
*/
header {
  position: relative;
}

@media screen and (min-width: 1023px) {
  header {
    background-color: lightblue;
  }
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
  header {
    background-color: lightgreen;
  }
}

@media screen and (max-width: 760px) {
  header {
    background-color: lightcoral;
  }
}

.site-title {
  font-size: 1.5em;
  padding-block-start: .65em;
  padding-block-end: .65em;
  font-weight: bold;
}

.container {
  margin: 1.5em auto 0 auto;
}

@media screen and (min-width: 1023px) {
  .site-main {
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
  .site-main {
    margin-left: .5em;
    margin-right: 1em;
  }
}

@media screen and (max-width: 760px) {
  .site-main {
    margin-right: .5em;
  }
}

@media screen and (min-width: 1023px) {
  .extended {
    max-width: 1240px;
  }
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
  .extended {
    max-width: 950px;
  }
}

@media screen and (max-width: 760px) {
  .extended {
    max-width: 630px;
  }
}

.flex {
  display: flex;
  flex-direction: row;
}

.full-width {
  width: 100%;
}

.site-header {
  margin-top: 0px;
}

@media screen and (min-width: 1023px) {
  .site-header {
    width: 50%;
    margin-left: 1.5em;
    margin-right: 0px;
  }
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
  .site-header {
    width: 35.3%;
    margin-left: 1.5em;
    margin-right: 0px;
  }
}

.site-banner {
  background-color: yellow;
}

.sidebar {
  background-color: goldenrod;
}

.content-single-card {
  position: relative;
  z-index: 10;
  background: #fff;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.15);
  padding: 1.618em 3.236em;
}

@media screen and (min-width: 1023px) {
  .content-single-card {
    border-left: 10px solid #eee;
  }
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
  .content-single-card {
    border-left: 10px solid #eee;
  }
}

#submit:hover {
  background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  background-color: #5cbf2a;
}

#submit:focus {
  outline-color: yellow;
}

#submit:active {
  position: relative;
  top: 1px;
}

#respond {
  background-color: white;
}

.comment-form {
  display: flex;
}

.comment-form-comment {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form-submit {
  display: none;
}

body {
  margin: 0 0 0 0;
}

.site-description {
  color: blue;
}

.bg-texture {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQoU2NMqL7ty0AEYAQpXNCqupmQ2lGFeEOI6OABAHJZJg6g8xcJAAAAAElFTkSuQmCC) repeat;
}
