/*
Theme Intimacy styling entrance
*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(../fonts/Lato/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(../fonts/Lato/Lato-Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic"), url(../fonts/Lato/Lato-Italic.ttf) format("truetype");
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url(../fonts/Lato/Lato-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(../fonts/RobotoSlab/roboto-slab-v7-regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(../fonts/RobotoSlab/roboto-slab-v7-bold.ttf) format("truetype");
}

body {
  font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  color: #404040;
}

body a {
  text-decoration: none;
}

body a:visited {
  color: inherit;
}

article .hr-eod {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
  margin: 24px 0 4px 0;
  padding: 0;
}

article .text-eod {
  font-size: 11px;
  color: #b1b1b1;
  text-align: right;
}

article .text-eod::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #4a7db1;
  margin-left: 10px;
}

article .entry-content h1, article .entry-content h2, article .entry-content h3, article .entry-content h4, article .entry-content h5, article .entry-content h6, article .entry-content legend {
  margin-top: 0;
  font-weight: 700;
  font-family: "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
}

article .entry-content h1 {
  font-size: 175%;
}

article .entry-content h2 {
  font-size: 150%;
}

article .entry-content h3 {
  font-size: 125%;
}

article .entry-content h4 {
  font-size: 115%;
}

article .entry-content h5 {
  font-size: 110%;
}

article .entry-content h6 {
  font-size: 100%;
}

article .entry-content hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e1e4e5;
  margin: 24px 0;
  padding: 0;
}

article .entry-content p, article .entry-content th {
  line-height: 24px;
  margin: 0;
  font-size: 16px;
  margin-bottom: 24px;
}

article .entry-content code {
  white-space: nowrap;
  max-width: 100%;
  background: white;
  border: solid 1px #e1e4e5;
  font-size: 90%;
  padding: 2px 5px;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
  color: #E74C3C;
  overflow-x: auto;
}

article .entry-content sub, article .entry-content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

article .entry-content sup {
  top: -0.5em;
}

article .entry-content sub {
  bottom: -0.25em;
}

article .entry-content a {
  color: #2980B9;
  text-decoration: none;
  cursor: pointer;
}

article .entry-content a:active, article .entry-content a:hover {
  outline: 0;
}

article .entry-content a:hover {
  color: #3091D1;
}

article .entry-content figcaption {
  font-style: italic;
  line-height: 1;
}

article .entry-content .wp-block-table {
  margin: 0;
}

@media screen and (min-width: 1023px) {
  article .entry-content .wp-block-table {
    width: 40em;
  }
}

article .entry-content table {
  border: 1px solid #e1e4e5;
  white-space: nowrap;
  border-spacing: 0;
}

article .entry-content table + figcaption {
  margin: 0.5em 0;
}

article .entry-content table thead {
  color: #000;
  text-align: left;
}

article .entry-content table th, article .entry-content table td {
  padding: 8px 16px;
  border-bottom: 1px solid #e1e4e5;
  border-left: 1px solid #e1e4e5;
  vertical-align: middle;
}

article .entry-content table th:first-child, article .entry-content table td:first-child {
  border-left-width: 0;
}

article .entry-content table tr:last-child td {
  border-bottom-width: 0;
}

article .entry-content blockquote {
  border: groove;
  padding: 1em;
}

article .entry-content blockquote cite {
  color: #888;
}

article .entry-content blockquote p {
  margin-bottom: 0;
}

article .entry-content .enlighter-t-wpcustom {
  border: 1px solid #e1e4e5;
  margin: 1px 0 24px 0;
  white-space: pre;
  padding: 12px 12px;
  display: block;
}

article .entry-content div::before {
  content: "" !important;
}

article .entry-content .enlighter {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
  font-size: 14px;
  letter-spacing: -0.2px;
}

article .entry-content .enlighter div div {
  padding-left: 0;
}

header {
  position: relative;
}

@media screen and (min-width: 1023px) {
  header {
    background-color: lightblue;
  }
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
  header {
    background-color: lightgreen;
  }
}

@media screen and (max-width: 760px) {
  header {
    background-color: lightcoral;
  }
}

.site-title {
  font-size: 1.5em;
  padding-block-start: .65em;
  padding-block-end: .65em;
  font-weight: bold;
}

.container {
  margin: 1.5em auto 0 auto;
}

@media screen and (min-width: 1023px) {
  .article-list {
    margin-left: 4em;
  }
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
  .article-list {
    margin-left: .5em;
    margin-right: 1em;
  }
}

@media screen and (max-width: 760px) {
  .article-list {
    margin-right: .5em;
  }
}

@media screen and (min-width: 1023px) {
  .extended {
    max-width: 1300px;
  }
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
  .extended {
    max-width: 950px;
  }
}

@media screen and (max-width: 760px) {
  .extended {
    max-width: 630px;
  }
}

.flex {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 760px) {
  .flex {
    display: block;
  }
}

.full-width {
  width: 100%;
}

.site-header {
  margin-top: 0px;
}

@media screen and (min-width: 1023px) {
  .site-header {
    width: 38%;
    margin-left: 5%;
    margin-right: 0px;
  }
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
  .site-header {
    width: 50%;
    margin-left: 5%;
    margin-right: 0px;
  }
}

.site-banner {
  background-color: yellow;
}

.site-banner .site-nav .drawer-toggle {
  display: none;
}

@media screen and (max-width: 760px) {
  .site-banner .site-nav .drawer-toggle {
    display: inline-block;
  }
}

@media screen and (max-width: 760px) {
  .sidebar {
    display: none;
  }
}

.site-footer {
  padding: 10px 20px;
  background-color: lightpink;
}

.site-footer .copyr {
  color: black;
  text-decoration: none !important;
}

.site-footer .site-nav {
  float: right;
}

.site-footer .site-nav .m-class {
  display: flex;
}

.site-footer .site-nav .m-class li {
  flex-direction: column;
  list-style-type: none;
  margin-left: 20px;
  color: #484848;
}

.comments-area {
  background-color: white;
  border: #2a2b35 2px solid;
  padding: 1.618em 0 0 3.236em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-left: 4em;
  margin-right: 4em;
}

.comments-area .comment-list, .comments-area .children {
  list-style: none;
  padding-right: 3.236em;
}

.comments-area .comment-list .vcard {
  display: flex;
}

.comments-area .comment-list .comment-author, .comments-area .comment-list .comment-datetime {
  flex-direction: column;
}

.comments-area .comment-list .comment-author {
  margin-left: 5px;
}

.comments-area .comment-list .comment-author cite {
  font-size: 1em;
}

.comments-area .comment-list .comment-author .comment-datetime {
  font-size: 0.9em;
}

.comments-area .comment-list p {
  margin: 0.3em 0;
}

.comments-area .comment-list .comment {
  padding-left: 5px;
  margin: 0.5em 0;
}

.comments-area .comment-list .reply {
  font-size: 0.9em;
}

.comments-area .comment-long-underline {
  border-bottom: solid #ff8600 2px;
  width: 6%;
}

.comments-area #comment-left {
  flex: 0.382;
  margin-right: 2em;
}

.comments-area #comment-left .comment-short-underline {
  border-bottom: solid #ff8600 2px;
  width: 16%;
}

.comments-area #comment-left .comment-form-author label, .comments-area #comment-left .comment-form-email label {
  color: #d3d4d5;
}

.comments-area #comment-left .comment-form-author .required, .comments-area #comment-left .comment-form-email .required {
  display: none;
}

.comments-area #comment-left .comment-form-author input, .comments-area #comment-left .comment-form-email input {
  border: 0;
  outline-style: none;
  border-bottom: solid 1px #d3d4d5;
  /* margin: 0.5em 0; */
  padding: 7px 0;
  font-size: 15px;
}

.comments-area #comment-left .comment-form-cookies-consent input {
  margin-left: 0;
}

.comments-area #comment-left .comment-form-cookies-consent label {
  margin-left: 5px;
}

.comments-area #comment-right {
  flex: 0.618;
}

.comments-area #comment-right .comment-form-comment {
  border-left: solid 1px #d3d4d5;
}

.comments-area #comment-right .comment-form-comment label {
  margin: 1em 0;
  padding-left: 1em;
  color: #d3d4d5;
}

.comments-area #comment-right .comment-form-comment textarea {
  resize: none;
  padding-left: 1.2em;
  border: none;
  outline: none;
  font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
  font-size: inherit;
}

.comments-area #comment-right .form-submit {
  display: flex;
  flex-direction: column;
  margin-block-start: 0;
  margin-block-end: 0;
}

.comments-area #comment-right .form-submit #submit {
  outline: none;
  cursor: pointer;
  padding: 0;
  border: 0;
  height: 3em;
  background-color: #2a2b35;
  color: white;
}

.comments-area #comment-right .form-submit #submit:active {
  background-color: grey;
}

.comments-area .comment-form {
  display: flex;
}

.comments-area .comment-form-comment {
  height: 16em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-block-start: 0;
  margin-block-end: 0;
}

.content-single-card {
  position: relative;
  z-index: 10;
  background: #fcfcfc;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.15);
  margin-left: 4em;
  margin-right: 4em;
  padding: 1.618em 3.236em;
  border-left: 10px solid #eee;
}

.content-single-card .entry-header {
  margin-bottom: 1.66em;
}

.content-single-card .entry-title {
  margin: .83em 0;
  font-weight: 700;
  font-size: 175%;
  font-family: "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
}

.content-card {
  padding: 20px 20% 20px 0;
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
  .content-card {
    padding: 20px 0 20px;
  }
}

@media screen and (max-width: 760px) {
  .content-card {
    padding: 20px 0 20px;
  }
}

.post-cover {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 60px 40px 40px 40px;
}

.post-cover-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(6px) brightness(0.68);
  -webkit-filter: blur(6px) brightness(0.68);
  clip-path: polygon(2% 2%, 98% 2%, 98% 98%, 2% 98%);
  -webkit-clip-path: polygon(2% 2%, 98% 2%, 98% 98%, 2% 98%);
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
}

.post-cover-inner {
  position: relative;
  color: white;
}

.entry-title {
  margin-top: .83em;
  margin-bottom: .83em;
}

.post-text {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 10px 2% 10px 2%;
}

.seperation {
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

body {
  margin: 0 0 0 0;
}

.site-description {
  color: blue;
}

.bg-texture {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQoU2NMqL7ty0AEYAQpXNCqupmQ2lGFeEOI6OABAHJZJg6g8xcJAAAAAElFTkSuQmCC) repeat;
}

.bg-texture-homepage {
  background-color: #f9fafb;
}
