.comments-area {
  background-color: white;
  padding: 1.618em 3.236em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.comment-list, .children {
  list-style: none;
}

#submit {
  
  &:hover {
    background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
    background-color:#5cbf2a; 
    }
  &:focus {
      outline-color: yellow;
     //  change border color from black to else, can be 'none', also useable for textform etc.
     }
  &:active { 
   position:relative;
   top:1px;
  }
}

#respond {
  background-color: white;
}

.comment-form {
  display: flex;
}
  
.comment-form-comment {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-block-start: 0;
  margin-block-end: 0;
}
  
.form-submit {
  display: flex;
  flex-direction: column;
  margin-block-start: 0;
  margin-block-end: 0;
}

#comment-left {
  flex: 0.382;
}
#comment-right {
  flex: 0.618;
}