.site-footer {
  padding: 10px 20px;
  background-color: lightpink;
  .copyr {
    color: black;
    text-decoration: none !important;
  }
  .site-nav {
    float: right;
    .m-class {
      display: flex;
      li {
        flex-direction: column;
      }
    }
  }
}