.site-footer {
  padding: 10px 20px;
  background-color: lightpink;
  @include phone {
    padding: 5px 20px;
  }
  .copyr {
    color: black;
    text-decoration: none !important;
  }
  .site-nav {
    float: right;
    @include phone {
      display: none;
    }
    .c-class {
      display: flex;
    }
    .m-class {
      display: flex;
      li {
        flex-direction: column;
        list-style-type: none;
        margin-left: 20px;
        color: #484848;
      }
    }
  }
}