header {
  position: relative;
  
  @include pc {
    padding-top: 5em;
    background-color: lightblue;
  }

  @include tablet {
    padding-top: 5em;
    background-color: lightgreen;
  }

  @include phone {
    padding-top: 4em;
    background-color: lightcoral;
  }
}