.container {
  margin: 1.5em auto 0 auto;
}

.site-main {
  @include pc {
    margin-left: 1em;
    margin-right: 1em;
  }

  @include tablet {
    margin-left: .5em;
    margin-right: 1em;
  }
  
  @include phone {
    margin-right: .5em;
  }
}

.extended {
  @include pc {
    max-width: 1024px;
  }

  @include tablet {
    max-width: 950px;
  }

  @include phone {
    max-width: 630px;
  }
}

.flex {
  display: flex;
  flex-direction: row;
}

.full-width {
  width: 100%;
}

.site-header {
  margin-top: 0px;

  @include pc {
    width: 50%;
    margin-left: 1.5em;
    margin-right: 0px;
  }

  @include tablet {
    width: 35.3%;
    margin-left: 1.5em;
    margin-right: 0px;
  }

  // @include phone {
  //   padding-top: 4em;
  //   background-color: lightcoral;
  // }
}
.site-banner {
  background-color: yellow;
}

.sidebar {
  background-color: goldenrod;
}

.content-single-card {
  position: relative;
  z-index: 10;
  background: #fff;
  box-shadow: 8px 8px rgba($color: #000, $alpha: .15);
  padding: 1.618em 3.236em;
  
  @include pc {
    border-left: 10px solid #eee;
  }
  
  @include tablet {
    border-left: 10px solid #eee;
  }

}