.container {
  margin: 1.5em auto 0 auto;
}

.article-list {
  @include pc {
    margin-left: 4em;
    // margin-right: 1em;
    // padding: 0 10% 0 2%;
  }

  @include tablet {
    margin-left: .5em;
    margin-right: 1em;
  }
  
  @include phone {
    margin-right: .5em;
  }
}

.extended {
  @include pc {
    max-width: 1300px;
  }

  @include tablet {
    max-width: 950px;
  }

  @include phone {
    max-width: 630px;
  }
}

.flex {
  display: flex;
  flex-direction: row;
}

.full-width {
  width: 100%;
}

.site-header {
  margin-top: 0px;

  @include pc {
    width: 38%;
    margin-left: 5%;
    margin-right: 0px;
  }

  @include tablet {
    width: 50%;
    margin-left: 5%;
    margin-right: 0px;
  }

  // @include phone {
  //   padding-top: 4em;
  //   background-color: lightcoral;
  // }
}
.site-banner {
  background-color: yellow;
}

.sidebar {
  background-color: goldenrod;
}

