.container {
  margin: 1.5em auto 1.5em auto;
  @include phone {
    margin: 0 1em;
  }
}

.article-list {
  @include pc {
    margin-left: 4em;
    // margin-right: 1em;
    // padding: 0 10% 0 2%;
  }

  @include tablet {
    padding-left: 2em;
    padding-right: 2em;
  }
  
  @include phone {
    margin-right: .5em;
  }
}

.extended {
  @include pc {
    max-width: 1300px;
  }

  @include tablet {
    max-width: 950px;
  }

  @include phone {
    max-width: 630px;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  @include phone {
    display: block; // unset flex layout on phones
  }
}

.full-width {
  width: 100%;
}

.two-thirds-width {
  width: 68%;
}
