.site-header {
  margin-top: 0px;

  @include pc {
    width: 38%;
    margin-left: 5%;
    margin-right: 0px;
  }

  @include tablet {
    width: 50%;
    margin-left: 5%;
    margin-right: 0px;
  }

  @include phone {
    margin-left: 16px;
    margin-right: 16px;
  }

  // @include phone {
  //   padding-top: 4em;
  //   background-color: lightcoral;
  // }
}
.site-banner {
  background-color: rgb(217, 217, 217);
  background-image: url("../img/seawave.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 15px;
  
  .site-branding {
    margin-left: 1em;
    .site-title {
      color: whitesmoke;
      font-size: 1.5em;
      padding-block-start: .65em;
      padding-block-end: .65em;
      font-weight: bold;
    }    
    .site-description {
      margin-top: 0;
      color: #fcfcfc;
    }
  }
  .site-nav {
    #m-id {
      display: flex;
    }
    #c-id {
      display: flex;
    }
    .drawer-toggle, li {
      list-style: none;
      white-space: nowrap;
      max-width: 100%;
      background: white;
      border: solid 1px #e1e4e5;
      font-size: 90%;
      padding: 2px 8px;
      font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
      color: #2980b9;
      overflow-x: auto;
      &:visited {
        color: #2980b9;
      }
    }
    .drawer-toggle {
      display: none;
      @include phone {
        display: inline-block;
      }
    }
    .menu-expand {
      // append these styles on menu button when it is clicked
      background-color: red;
    }
  }
}

.sidebar {
  @include phone {
    display: none;
  }
  // background-color: goldenrod;
}

