.content-card {
  border-bottom: 1px solid rgba(0,0,0,.04);
  padding: 20px 20% 20px 5%;

  @include tablet {
    padding: 20px 0 20px;

  }
  
  @include phone {
    padding: 20px 0 20px;
  }
}

.post-cover {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 60px 40px 40px 40px;  
}

.post-cover-mask {
  // clip-path 用于裁剪掉blur()产生的四周的白边
  $clip-path: polygon(2% 2%, 98% 2%, 98% 98%, 2% 98%);
  $blur-radius: 6px;
  $brightness: 0.68;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur($blur-radius) brightness($brightness);
  -webkit-filter: blur($blur-radius) brightness($brightness);
  clip-path: $clip-path;
  -webkit-clip-path: $clip-path;
  // background-image: url();
  background-size: cover;
  background-color: rgba(255,255,255,0.5);
}

.post-cover-inner {
  position: relative;
  color: white;
}

.post-text {
  // background-color: red;
  display: block;
  position: relative;
  cursor: pointer;
  padding: 10px 2% 10px 2%;
}
