.content-single-card {
  position: relative;
  z-index: 10;
  background: #fff;
  box-shadow: 8px 8px rgba($color: #000, $alpha: .15);
  padding: 1.618em 3.236em;
  
  @include pc {
    border-left: 10px solid #eee;
  }
  
  @include tablet {
    border-left: 10px solid #eee;
  }

}