.content-single-card {
  position: relative;
  z-index: 10;
  background: #fcfcfc;
  box-shadow: 8px 8px rgba($color: #000, $alpha: .15);
  margin-left: 4em;
  margin-right: 4em;
  padding: 1.618em 3.236em;
  border-left: 10px solid #eee;

  .entry-header { margin-bottom: .83em * 2;}
  .entry-title {
    margin: .83em 0;
    font-weight: 700; // 700 or 400
    font-size: 175%;
    font-family: $custom-font-family;
  }

  @include pc {
    // border-left: 10px solid #eee;
    // margin-left: 4em;
  }
  
  @include tablet {
  }

  @include phone {
    margin-left: 1em;
    margin-right: 1em;
    padding: 1.618em 1.618em;
  }

}

